[submodule "/Users/Eric/git/monero-java-rpc/src/main/cpp/submodules/mymonero-core-cpp"]
	path = /Users/Eric/git/monero-java-rpc/src/main/cpp/submodules/mymonero-core-cpp
	url = https://github.com/woodser/mymonero-core-cpp.git
